body {
  font-family: 'Noto Sans', sans-serif;
  color: white;
}

hr {
  width: 80%;
  border-color: #be8522;
  height: 1px;
  
}
/* Label for submit box and gifs */
label {
  font-weight: bold;
  color: white;
}

/* header styling */
.header-box {
  border: 3px solid #be8522;
  border-radius: 15px;
  background-color: #be3722;
  width: 960px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

h1 {
  font-size: 40px;
}

/* Grid area for content buttons */
.button-container {
  display: grid;
  width: 960px;
  min-height: 100px;
  grid-template-columns: repeat(7, 1fr);
  margin: 0 auto;
  margin-bottom: 10px;
}

/* Grid area for gifs and for submit area, then sub-areas for each */
.content-container {
  display: grid;
  width: 960px;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 10px;
  margin: 0 auto;
  border: 3px solid #be8522;
  border-radius: 15px;
  background-color: #be3722;
  min-height: 375px;
}

.submit-area {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  text-align:center;
  padding: 5px;
  
}

.submit-area label, .submit-area input {
  margin-bottom: 5px;
}


/* basic button styling */

.button {
  border: 2px dotted #226fbe;
  border-radius: 15px;
	font-family: inherit;
	font-size: inherit;
	color: #fff;
	background: #226fbe;
	cursor: pointer;
	padding: 12px 14px;
	display: inline;
	margin: 2px 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  transition: all 0.3s;  
}

.button:active {
  top: 2px;
}

.button:hover {
  background: transparent;
  color: #226fbe;
}
.button:after {
  content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.submit-area .button:hover {
  background: #fff;
}

/* Class for the div containing a gif and its rating */
.gif-box {
  position: relative;
  width: 300px;
  height: 250px;
  /* border: 1px solid magenta;   */
  
}

/* Class for gifs themselves */
.gif-box-img {
  position: absolute;
  top: 24px;
  left: 75px;
  max-height: 225px;  
  /* max-width: 350px; */
  border: 3px solid #be8522;
}

/* Class for the gif rating labels */
.gif-box-label {
  position: absolute;
  top: 0;
  left: 75px;
  
  
}

/* gif box favorite icon */
.gif-box-fav {
  position: absolute;
  top: 5px;
  left: 260px;
}

.gif-box-fav:active {
  font-size: 140%;
}

/* responsive for landscape tablets */
@media screen and (max-width: 980px){
  .header-box, .button-container, .content-container {
    max-width: 98%;
  }

  .button-container {
    grid-template-columns: repeat(4, 1fr);
  }

  .content-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .submit-area {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .button:hover {
    background: #226fbe;
    color: white;
  }
} 

/* responsive for portrait tablets */
@media screen and (max-width: 768px) {
  .button-container {
    grid-template-columns: repeat(3, 1fr);
  }

}
/* responsive for cell phones */
@media screen and (max-width: 640px)  {
  .button-container {
    grid-template-columns: 1fr 1fr;
  }
  
  .content-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .submit-area {
    grid-column: 1 / 2;    
  }

  .gif-box {
    max-width: 80%;    
  }

  .gif-box-img {
    left: 15%;
  }
  .gif-box-label{
    left: 38%;
  }
}